ARIA2C_APP_NAME=aria2-controler
ARIA2C_DEBUG=true
ARIA2C_DATABASE_PATH=./data/app.db
ARIA2C_SESSION_TTL_SECONDS=43200
ARIA2C_ARIA2_RPC_URL=http://localhost:6800/jsonrpc
ARIA2C_ARIA2_RPC_SECRET=1
ARIA2C_ARIA2_POLL_INTERVAL=2.0
ARIA2C_DOWNLOAD_DIR=./downloads
ARIA2C_HOOK_SECRET=
